@model FreightAppASP.Models.Carrier

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Carrier</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <!--
        public string CarrierName { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string MCNum { get; set; }
        public string MailingAddress { get; set; }
        public string MailingCity { get; set; }
        public string MailingState { get; set; }
        public string MailingZip { get; set; }
        public string DispatchContactPhone { get; set; }
        public string Fax { get; set; }
        public string DispatchContactEmail { get; set; }
        -->

        <div class="form-group">
            <label asp-for="CarrierName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CarrierName" class="form-control" />
                <span asp-validation-for="CarrierName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="CarrierName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MCNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MCNum" class="form-control" />
                <span asp-validation-for="MCNum" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailingAddress" class="form-control" />
                <span asp-validation-for="MailingAddress" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailingCity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailingCity" class="form-control" />
                <span asp-validation-for="MailingCity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailingState" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailingState" class="form-control" />
                <span asp-validation-for="MailingState" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MailingZip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MailingZip" class="form-control" />
                <span asp-validation-for="MailingZip" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DispatchContactPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DispatchContactPhone" class="form-control" />
                <span asp-validation-for="DispatchContactPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fax" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DispatchContactEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DispatchContactEmail" class="form-control" />
                <span asp-validation-for="DispatchContactEmail" class="text-danger" />
            </div>
        </div>

        <div class="box">
            <h4>Upload Paperwork</h4>
            <p>
                <b>Accepted file types: jpg, png, pdf, gif.</b> <br/>
                Authority, W-9, Certificate of Insurance and other paperwork that we may <br/>
                find useful (.jpg, .png, .gif, .pdf format only) or FAX to 916-200-0193
            </p>
        </div>
        <form method="post" action='@Url.Action("Submit")'>
            <div class="demo-section k-content">
                @(Html.Kendo().Upload()
                    .Name("files")
                )
            <p style="padding-top: 1em; text-align: right">
                <input type="submit" value="Submit" class="k-button k-primary" />
            </p>
            </div>
        </form>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
