@model IEnumerable<FreightAppASP.ViewModels.CarrierViewModel>

@{
    ViewData["Title"] = "Index";
}
<h2>Test</h2>

@(Html.Kendo().Grid(Model)
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.CarrierId).Title("Carrier ID");
        columns.Bound(p => p.CompanyName).Title("Company Name");
    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Pageable(pageable => pageable
       .Input(true)
       .Numeric(false)
     )
    .Sortable()
    .Scrollable(scr => scr.Height(430))
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
     )
)
