@{
    ViewData["Title"] = "CarrierRegistration";
}

<form>
  Carrier Name<br>
  <input type="text" name="carriername">
  <br>
  Contact Name<br>
  <input type="text" name="name">
  <br>
  MC#<br>
  <input type="text" name="mc">
  <br>
  DOT#<br>
  <input type="text" name="dot">
  <br>
  Mailing Address<br>
  <input type="text" name="address">
  <br>
  Street Address<br>
  <input type="text" name="homeaddress">
  <br>
  Dispatch Phone<br>
  <input type="text" name="phonenumber">
   <br>
  Fax<br>
  <input type="text" name="fax">
  <br>
  Email<br>
  <input type="text" name="email">
  <br>
  Website<br>
  <input type="text" name="website">
</form>

<form>
  <input type="radio" name="equipmenttype" value="male" checked> Open Car Carrier
  <input type="radio" name="equipmenttype" value="female"> Enclosed Car Carrier
  <input type="radio" name="equipmenttype" value="other"> Flatbed<br>
  <input type="radio" name="equipmenttype" value="other"> Tow Truck
  <input type="radio" name="equipmenttype" value="other"> Wedge
  <input type="radio" name="equipmenttype" value="other"> Rollback<br>
  <input type="radio" name="equipmenttype" value="other"> RGN
  <input type="radio" name="equipmenttype" value="other"> Reefer
  <input type="radio" name="equipmenttype" value="other"> Van
</form>
